# Maven
backend/target/
backend/.mvn/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
